@model MvcOnlineTicariOtomasyon.Models.Entities.Department
@{
    ViewBag.Title = "AddDepartment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<h2>Yeni Departman Sayfası</h2>
<form class="form-group" method="post">
    <label>Departman Adı</label>
    @Html.TextBoxFor(x => x.DepartmentName, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>



