@model MvcOnlineTicariOtomasyon.Models.Entities.Department
@{
    ViewBag.Title = "GetDepartment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Departman Güncelleme</h2>
@using (Html.BeginForm("UpdateDepartment", "Department", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.DepartmentID)
        <br />
        @Html.Label("Departman Adı")
        @Html.TextBoxFor(x => x.DepartmentName, new { @class = "form-control" })
        <br />
        <button class="btn btn-warning">Güncelle</button>
    </div>

}


